<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnX | Home</title>
    <link href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='script.js')}}" type="text/javascript"></script>
</head>
<body>
    <nav id="bignav">
        <a href="index.html" id="navlogo"><img width="100%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Khan_Academy_logo_%282018%29.svg/2560px-Khan_Academy_logo_%282018%29.svg.png" alt="logo"></a>
        <form style="height: 50%;">
            <div id="searchdiv">
                <input type="text" placeholder="Search..." name="search" id="search">
                <button type="submit" id="searchbutton"></button>
            </div>
        </form>
        <div class="nlinks" id="pcnlinks">
            <a href="courselist.html"><p>Courses</p></a>
            <a href="classlist.html"><p>Classes</p></a>
            <a href="about.html"><p>About</p></a>
            <a href="profile.html"><img src="../images/account.jpg" alt="profile picture" id="profilepic"></a>
        </div>
    </nav>
    <div id="homeheaddiv">
        <img id="homeheadimg" src="../images/student.jpg" alt="studying">
        <div id="headimgtext">
            <h1>LearnX</h1>
            <br>
            <p>This is a sentence about how cool our website is!!</p>
        </div>
    </div>
    <div id="actiondiv">
        <button class="actionbtn">Dashboard</button>
        <button class="actionbtn">Join a Class</button>
        <button class="actionbtn">Browse Courses</button>
    </div>
    <div id="homecatalog">
        <h1>Popular Courses</h1>
        <div id="cardholder">
            <div class="card">
                <h3>Algebra I</h3>
                <br>
                <p>Grade: 9</p>
                <p>8 topics</p>
                <br>
                <p class="description">This course covers the basic concepts of Algebra including the addition, subtraction, multiplication, and division of numbers and variables. Linear sentences will be covered. Students will use calculators to solve problems.</p>
                <button>Open Course</button>
            </div>
            <div class="card">
                <h3>Chemistry</h3>
                <br>
                <p>Grade: 11</p>
                <p>4 topics</p>
                <br>
                <p class="description">Covers the concepts of the chemical make-up of matter through lab activities and the study of matter through lab activities and the study of energy storage and transformation, molecular structure of matter, chemical reactions, radioactivity, fusion and fission.</p>
                <button>Open Course</button>
            </div>
            <div class="card">
                <h3>Spanish I</h3>
                <br>
                <p>Grade: 10</p>
                <p>5 topics</p>
                <br>
                <p class="description">This course is designed to help students develop beginning proficiency in the four basic language skills: listening comprehension, speaking, reading and writing. This class also enriches students’ understanding of the Hispanic world, people and culture.</p>
                <button>Open Course</button>
            </div>
        </div>
    </div>
    <footer>
        <div id="columnhold">
            <div class="column" id="first">
                <p>Courses</p>
                <p>Classes</p>
                <p>About</p>
                <p>Dashboard</p>
            </div>
            <div class="column" id="second">
                <img id="footerlogo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Khan_Academy_logo_%282018%29.svg/2560px-Khan_Academy_logo_%282018%29.svg.png" alt="logo">
                <p>a website to help you learn or something</p>
            </div>
            <div class="column" id="third">
                <p>316-555-8231</p>
                <p>email@email.com</p>
                <p>rewriting words</p>
            </div>
        </div>
        <br>
        <br>
        <p>made in 2023</p>
    </footer>
</body>
</html>